/front/node_modules
/back/node_modules
/.env

/back/.env
/front/.env
*_codex_*.log
/back/*.traineddata
/back/public/uploads/
/devolucao_system_obsidian/.obsidian/
/devolucao_system_obsidian/Bem-vindo.md
